<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<body>
<div th:fragment="new_user">
    <div class="card">
        <h5 class="card-header">
            <strong>Add new user</strong>
        </h5>
        <div class="card-body">
            <div class="row">
                <div class="col-md-4"></div>
                <div class="col-md-4">
                    <form id="newUserForm">
                        <strong class="input-group mt-2 justify-content-center">First name</strong>
                        <div class="input-group mt-2 justify-content-center">
                            <label></label>
                            <input id="newUserFirstName" type="text" class="form-control" placeholder="First name">
                        </div>

                        <strong class="input-group mt-2 justify-content-center">Last name</strong>
                        <div class="input-group mt-2 justify-content-center">
                            <label></label>
                            <input id="newUserLastName" type="text" class="form-control" placeholder="Last name">
                        </div>

                        <strong class="input-group mt-2 justify-content-center">Age</strong>
                        <div class="input-group mt-2 justify-content-center">
                            <label></label>
                            <input id="newUserAge" type="number" class="form-control" placeholder="Age">
                        </div>

                        <strong class="input-group mt-2 justify-content-center">Email</strong>
                        <div class="input-group mt-2 justify-content-center">
                            <label></label>
                            <input id="newUserEmail" type="email" class="form-control" placeholder="Email">
                        </div>

                        <strong class="input-group mt-2 justify-content-center">Password</strong>
                        <div class="input-group mt-2 justify-content-center">
                            <label></label>
                            <input id="newUserPassword" type="password" class="form-control" placeholder="Password">
                            <small id="passwordHelpBlock" class="form-text text-muted"></small>
                        </div>

                        <strong class="input-group mt-2 justify-content-center">Role</strong>
                        <div class="input-group mt-2 justify-content-center">
                            <label></label>
                            <select id="newUserSelectRoles" multiple class="form-control"></select>
                        </div>

                        <div class="input-group mt-3 justify-content-center">
                            <button id="newUserButton" type="button" class="btn btn-success btn-lg ">Add new user</button>
                        </div>
                    </form>
                </div>
                <div class="col-md-4"></div>
            </div>
        </div>
    </div>
</div>

</body>
</html>
