<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html>
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<style>
    body {
        background: #ffffff;
        padding: 20px;
        font-family: Helvetica;
    }

    table {
        table-layout:fixed;
        border: 1px solid #000000;
        align: center
    }

    thead {
        background-color: #bbbbbb;
    }

    tr:nth-child(even) {
        background-color: #cccccc;
    }
</style>
<body>
<div>
    <table>
        <thead>
        <tr>
            <td>id</td>
            <td>Username</td>
            <td>Password</td>
            <td>Roles</td>
            <td>Firstname</td>
            <td>Lastname</td>
            <td>Age</td>
            <td>E-mail</td>
            <td>Phonenumber</td>
            <td>CRUD</td>
        </tr>
        </thead>
        <tr th:each="usr : ${table}">
            <td th:text="${usr.id}"/>
            <td th:text="${usr.username}"/>
            <td th:text="${#strings.abbreviate(usr.password, 10)}"/>
            <div style="font-size: 50%">
                <td th:text="${#strings.listJoin(usr.roles.![name],', ')}"/>
            </div>
            <td th:text="${usr.firstName}"/>
            <td th:text="${usr.lastName}"/>
            <td th:text="${usr.age}"/>
            <td th:text="${usr.email}"/>
            <td th:text="${usr.phoneNumber}"/>
            <td>
                <div>
                    <div style="float: left;">
                        <form th:method="GET" th:action="@{/admin/{id}(id=${usr.id})}">
                            <!--<input type="hidden" name="name" th:value="${usr.id}">-->
                            <input type="submit" name="edit" value="Edit"/>
                        </form>
                    </div>
                    <div style="float: right;">
                        <form th:method="DELETE" th:action="@{/admin}">
                            <input type="hidden" name="name" th:value="${usr.id}">
                            <input type="submit" value="Delete"/>
                        </form>
                    </div>
                </div>
            </td>
        </tr>
        <tr>
            <form th:method="POST" th:action="@{/admin}" th:object="${newUser}">
                <td/>
                <td><input type="text" th:field="*{username}" id="username"/></td>
                <td><input type="text" th:field="*{password}" id="password"/></td>
                <td>
                    <th:block th:each="role: ${rolesList}">
                        <div style="font-size: 50%">
                            <input type="checkbox" th:field="*{roles}" th:text="${role.name}" th:value="${role.id}"/>
                        </div>
                    </th:block>
                </td>
                <td><input type="text" th:field="*{firstName}" id="firstName"/></td>
                <td><input type="text" th:field="*{lastName}" id="lastName"/></td>
                <td><input type="text" th:field="*{age}" id="age"/></td>
                <td><input type="text" th:field="*{email}" id="email"/></td>
                <td><input type="text" th:field="*{phoneNumber}" id="phoneNumber"/></td>
                <td><input type="submit" name="add user" value="Add"/></td>
            </form>
        </tr>
    </table>
</div>

<div>
    <p>
    <form th:action="@{/logout}" method="post">
        <input type="submit" value="Logout"/>
    </form>
    </p>
</div>

</body>
</html>
