<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html>
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<style>
    body {
        background: #ffffff;
        padding: 20px;
        font-family: Helvetica;
    }

    table {
        table-layout:fixed;
        border: 1px solid #000000;
        align: center
    }

    thead {
        background-color: #bbbbbb;
    }

    tr:nth-child(even) {
        background-color: #cccccc;
    }
</style>
<body>
<div>
    <table>
        <thead>
        <tr>
            <td>id</td>
            <td>Username</td>
            <td>Password</td>
            <td>Roles</td>
            <td>Firstname</td>
            <td>Lastname</td>
            <td>Age</td>
            <td>E-mail</td>
            <td>Phonenumber</td>
            <td>CRUD</td>
        </tr>
        </thead>
        <tr th:each="usr : ${table}" th:switch="${usr.id}">
            <label th:case="${userByID.id}">
                <form th:method="PATCH" th:action="@{/admin/{id}(id=${usr.id})}" th:object="${userByID}">
                    <!--<input type="hidden" name="_method" value="patch"> = $0-->
                    <td th:text="${userByID.id}"/>
                    <td><input type="text" th:field="*{username}" name="username"/></td>
                    <td><input type="text" th:field="*{password}" name="password"/></td>
                    <td>
                        <th:block th:each="role: ${rolesList}">
                            <div style="font-size: 50%">
                                <input type="checkbox" th:field="*{roles}" th:text="${role.name}" th:value="${role.id}"/>
                            </div>
                        </th:block>
                    </td>
                    <td><input type="text" th:field="*{firstName}" name="firstName"/></td>
                    <td><input type="text" th:field="*{lastName}" id="lastName"/></td>
                    <td><input type="text" th:field="*{age}" id="age"/></td>
                    <td><input type="text" th:field="*{email}" id="email"/></td>
                    <td><input type="text" th:field="*{phoneNumber}" id="phoneNumber"/></td>
                    <td><input type="submit" name="add user" value="Complete"/></td>
                </form>
            </label>
            <label th:case="*">
                <td th:text="${usr.id}"/>
                <td th:text="${usr.username}"/>
                <td th:text="${#strings.abbreviate(usr.password, 10)}"/>
                <div style="font-size: 50%">
                    <td th:text="${#strings.listJoin(usr.roles.![name],',')}"/>
                </div>
                <td th:text="${usr.firstName}"/>
                <td th:text="${usr.lastName}"/>
                <td th:text="${usr.age}"/>
                <td th:text="${usr.email}"/>
                <td th:text="${usr.phoneNumber}"/>
                <td/>
            </label>
        </tr>
    </table>
</div>
</body>

<div>
    <p>
    <form th:action="@{/logout}" method="post">
        <input type="submit" value="Logout"/>
    </form>
    </p>
</div>
</html>
