<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html>
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<style>
    body {
        background: #ffffff;
        padding: 20px;
        font-family: Helvetica;
    }

    table {
        border: 1px solid #000000;
        align: center
    }

    thead {
        background-color: #bbbbbb;
    }

    tr:nth-child(even) {
        background-color: #cccccc;
    }
</style>
<body>
<h1>Welcome to Index PAGE!</h1>

<div>
    <p>
    <form th:action="@{/login}" method="post">
        <input type="submit" value="Login"/>
    </form>
    </p>
</div>

<div>
    <p>
    <form th:action="@{/logout}" method="post">
        <input type="submit" value="Logout"/>
    </form>
    </p>
</div>

</body>
</html>
