<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html>
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<style>
    body {
        background: #ffffff;
        padding: 20px;
        font-family: Helvetica;
    }

    table {
        border: 1px solid #000000;
        align: center
    }

    thead {
        background-color: #bbbbbb;
    }

    tr:nth-child(even) {
        background-color: #cccccc;
    }
</style>
<body>
<div>
    <table>
        <thead>
        <tr>
            <td>id</td>
            <td>Username</td>
            <td>Firstname</td>
            <td>Lastname</td>
            <td>Age</td>
            <td>E-mail</td>
            <td>Phonenumber</td>
        </tr>
        </thead>
        <tr th:each="usr : ${profile}">
            <td th:text="${usr.id}"/>
            <td th:text="${usr.username}"/>
            <td th:text="${usr.firstName}"/>
            <td th:text="${usr.lastName}"/>
            <td th:text="${usr.age}"/>
            <td th:text="${usr.email}"/>
            <td th:text="${usr.phoneNumber}"/>
        </tr>
    </table>
</div>
<div>
    <p>
    <form th:action="@{/logout}" method="post">
        <input type="submit" value="Logout"/>
    </form>
    </p>
</div>
</body>
</html>
